@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  width: 100%;
  height: 100vh;
  font-family: Karla, sans-serif;
  background: var(--black);
  color: var(--white);
  --yellow: rgb(255, 244, 137);
  --pink: rgb(250, 87, 193);
  --purple: rgb(177, 102, 204);
  --dark-puple: rgb(117, 114, 255);
  --blue: rgb(105, 166, 249);
  --black: #222;
  --white: #d3d3d3;
  display: block;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.infograph {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.dynamic {
  display: grid;
  width: 65%;
  grid-template-columns: repeat(3, 1fr);
}
.list {
  display: flex;
}
.list li {
  margin: 0 1rem;
  list-style: none;
}

.list li:nth-child(1) {
  color: #375e92;
}
.list li:nth-child(2) {
  color: #fb6542;
}
.list li:nth-child(3) {
  color: #ffbb00;
}

@media all and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .infograph{
    margin: 2rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dynamic{
    grid-template-columns: repeat(1, 1fr);
  }
}